<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}">
        <meta property="og:title" content="short title of your website/webpage" />
        <meta property="og:url" content="https://www.example.com/webpage/" />
        <meta property="og:description" content="description of your website/webpage">
        <meta property="og:image" content="//cdn.example.com/uploads/images/webpage_300x200.png">
        <meta property="og:type" content="article" />

        <meta property="og:image" content="http://example.com/ogp.jpg" />
        <meta property="og:image:secure_url" content="https://secure.example.com/ogp.jpg" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="300" />
        <meta property="og:image:alt" content="A shiny red apple with a bite taken out" />

        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        {{{ body }}}
    </body>

</html>